AUGREL/src/flows/CreateNewTitle-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Collateral</name>
        <label>Assign Collateral</label>
        <locationX>185</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>orgCollateral</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FA.Collateral__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewTitle2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TitleStateFinal</name>
        <label>TitleStateFinal</label>
        <locationX>618</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>TitleStateV1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FACGARAGESTATE.Mailing_State_Garage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookUpTitles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TitleStateFinal_0</name>
        <label>TitleStateFinal</label>
        <locationX>330</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>TitleStateV1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Title_State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LookUpTitles</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CreateNewTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a new Title for this Financial Account.</stringValue>
        </value>
    </constants>
    <constants>
        <name>STSRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A New Title is only created for State to State Transfers.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CollateralFound</name>
        <label>CollateralFound</label>
        <locationX>331</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>CreateNewTitle2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CollateralTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Collateral</targetReference>
            </connector>
            <label>CollateralTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoTitleorFA</name>
        <label>NoTitleorFA</label>
        <locationX>79</locationX>
        <locationY>147</locationY>
        <defaultConnector>
            <targetReference>LookUpStateToState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoFAProvided</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>orgFinancialAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Error</targetReference>
            </connector>
            <label>NoFAProvided</label>
        </rules>
    </decisions>
    <decisions>
        <name>STSCaseFound</name>
        <label>STSCaseFound</label>
        <locationX>338</locationX>
        <locationY>148</locationY>
        <defaultConnector>
            <targetReference>PrimaryBorrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FoundSTS</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>STSCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STSCase.Service_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STSCase.Service_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STSCase.Service_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Title</targetReference>
            </connector>
            <label>FoundSTS</label>
        </rules>
    </decisions>
    <decisions>
        <name>TitleStateAvailable</name>
        <label>TitleStateAvailable</label>
        <locationX>619</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Create_New_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TitleStateAvailable1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FACGARAGESTATE.Mailing_State_Garage__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>TitleStateFinal</targetReference>
            </connector>
            <label>TitleStateAvailable1</label>
        </rules>
    </decisions>
    <decisions>
        <name>TitleStateAvailable_0</name>
        <label>TitleStateAvailable</label>
        <locationX>616</locationX>
        <locationY>243</locationY>
        <defaultConnector>
            <targetReference>Create_New_Title</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TitleStateAvailable1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FACGARAGESTATE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TitleStateAvailable</targetReference>
            </connector>
            <label>TitleStateAvailable1</label>
        </rules>
    </decisions>
    <description>Flow used to create new Titles.</description>
    <dynamicChoiceSets>
        <name>TitleState</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Title_State__c</picklistField>
        <picklistObject>Title__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CreateNewTitle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateNewTitle</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewTitle2</name>
        <label>CreateNewTitle</label>
        <locationX>446</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>Collateral__c</field>
            <value>
                <elementReference>orgCollateral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>orgFinancialAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_State__c</field>
            <value>
                <elementReference>TitleStateV1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title_Status__c</field>
            <value>
                <stringValue>Pending-Not Yet Received</stringValue>
            </value>
        </inputAssignments>
        <object>Title__c</object>
    </recordCreates>
    <recordLookups>
        <name>LookUpStateToState</name>
        <label>LookUpStateToState</label>
        <locationX>338</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>STSCaseFound</targetReference>
        </connector>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orgFinancialAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orgCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>STSCase</outputReference>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Service_Request_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpTitles</name>
        <label>LookUpTitles</label>
        <locationX>332</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CollateralFound</targetReference>
        </connector>
        <filters>
            <field>Collateral__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orgFinancialAccount</elementReference>
            </value>
        </filters>
        <object>Financial_Account__c</object>
        <outputReference>FA</outputReference>
        <queriedFields>Collateral__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>PrimaryBorrower</name>
        <label>PrimaryBorrower</label>
        <locationX>614</locationX>
        <locationY>146</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TitleStateAvailable_0</targetReference>
        </connector>
        <filters>
            <field>Customer_Role_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0-Primary Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orgFinancialAccount</elementReference>
            </value>
        </filters>
        <object>Financial_Account_Customer__c</object>
        <outputReference>FACGARAGESTATE</outputReference>
        <queriedFields>Mailing_State_Garage__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Case_Error</name>
        <label>Case Error</label>
        <locationX>81</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>InitialError</name>
            <fieldText>Due to data integrity issues, you cannot create a Title.  Please ensure that this is a valid Financial Account.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Create_New_Title</name>
        <label>Create New Title</label>
        <locationX>326</locationX>
        <locationY>268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TitleStateFinal_0</targetReference>
        </connector>
        <fields>
            <name>CreateNewTitleHelpText</name>
            <fieldText>Please select a State for the new Title.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Title_State</name>
            <choiceReferences>TitleState</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Title State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>{!CreateNewTitle}</helpText>
    </screens>
    <startElementReference>NoTitleorFA</startElementReference>
    <variables>
        <name>FA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Account__c</objectType>
    </variables>
    <variables>
        <name>FACGARAGESTATE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Account_Customer__c</objectType>
    </variables>
    <variables>
        <name>orgCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orgCollateral</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orgFinancialAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OriginalTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STSCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Title__c</objectType>
    </variables>
    <variables>
        <name>TitleStateV1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
