AUGREL/src/flows/CreateFollowUpCase-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <description>Initial Title not yet received.</description>
        <name>FollowUpDesc</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Initial Title not yet received.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>FAC_CoFound</name>
        <label>FAC CoFound?</label>
        <locationX>383</locationX>
        <locationY>717</locationY>
        <defaultConnector>
            <targetReference>Create_FUpCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CoBorrower</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FAC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Follow_Up_Case</targetReference>
            </connector>
            <label>CoBorrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>FAC_Found</name>
        <label>FAC Found?</label>
        <locationX>132</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>CoCustomerLookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FAC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Follow_Up_Case</targetReference>
            </connector>
            <label>Primary</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Follow_Up_Case</name>
        <label>Found Follow Up Case</label>
        <locationX>123</locationX>
        <locationY>164</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NoFollowUpFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenFollowUpCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupTitleRecordID</targetReference>
            </connector>
            <label>NoFollowUpFound</label>
        </rules>
    </decisions>
    <description>Creates a Follow Up Case if none exists after 150 days.</description>
    <interviewLabel>CreateFollowUpCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateFollowUpCase</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Follow_Up_Case</name>
        <label>Create Follow Up Case</label>
        <locationX>129</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Start Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Title</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>FAC.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FollowUpDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Customer__c</field>
            <value>
                <elementReference>FAC.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>TitleDetails.Financial_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TitleRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Recipient__c</field>
            <value>
                <stringValue>Primary Borrower</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request_Type__c</field>
            <value>
                <stringValue>Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Customer Correspondence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>EvaluatedTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_FUpCase</name>
        <label>Create FUpCase</label>
        <locationX>668</locationX>
        <locationY>714</locationY>
        <inputAssignments>
            <field>Action__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FollowUpDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>TitleDetails.Financial_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TitleRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request_Type__c</field>
            <value>
                <stringValue>Follow Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Customer Correspondence</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>EvaluatedTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>CoCustomerLookup</name>
        <label>CoCustomerLookup</label>
        <locationX>379</locationX>
        <locationY>587</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FAC_CoFound</targetReference>
        </connector>
        <filters>
            <field>Borrower_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Role_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6-Co-Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TitleDetails.Financial_Account__c</elementReference>
            </value>
        </filters>
        <object>Financial_Account_Customer__c</object>
        <outputReference>FAC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>CustomerLookup</name>
        <label>CustomerLookup</label>
        <locationX>123</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FAC_Found</targetReference>
        </connector>
        <filters>
            <field>Borrower_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Role_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0-Primary Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TitleDetails.Financial_Account__c</elementReference>
            </value>
        </filters>
        <object>Financial_Account_Customer__c</object>
        <outputReference>FAC</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Looks for existing Follow Up Cases</description>
        <name>Look_for_Follow_Up_Cases</name>
        <label>Look for Follow Up Cases</label>
        <locationX>122</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Follow_Up_Case</targetReference>
        </connector>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Title</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follow Up</stringValue>
            </value>
        </filters>
        <filters>
            <field>Title__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EvaluatedTitle</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>OpenFollowUpCase</outputReference>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpTitleAttributes</name>
        <label>LookUpTitleAttributes</label>
        <locationX>130</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CustomerLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EvaluatedTitle</elementReference>
            </value>
        </filters>
        <object>Title__c</object>
        <outputReference>TitleDetails</outputReference>
        <queriedFields>Financial_Account__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupTitleRecordID</name>
        <label>LookupTitleRecordID</label>
        <locationX>125</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookUpTitleAttributes</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UC_Title_Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>TitleRecordTypeID</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Look_for_Follow_Up_Cases</startElementReference>
    <variables>
        <description>The Title Record being Evaluated</description>
        <name>EvaluatedTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Financial_Account_Customer__c</objectType>
    </variables>
    <variables>
        <description>Financial Account of the Title being evaluated</description>
        <name>FinancialAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpenFollowUpCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TitleDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title__c</objectType>
    </variables>
    <variables>
        <name>TitleRecordTypeID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
