AUGREL/src/flows/Refinance_Pitch_Eligiblity_Auto_Loyalty-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apexPluginCalls>
        <name>GetKMArticlePluggin</name>
        <label>GetKMArticlePluggin</label>
        <locationX>292</locationX>
        <locationY>183</locationY>
        <apexClass>FlowGetKMArticle</apexClass>
        <connector>
            <targetReference>Ask_for_Treatment_Eligibility</targetReference>
        </connector>
        <inputParameters>
            <name>vArticleNumber</name>
            <value>
                <elementReference>ArticleNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>KMArticleLegal1</assignToReference>
            <name>oArticle1</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>legallanguagevar</assignToReference>
            <name>oArticle2</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CaseIntegrationid</assignToReference>
            <name>oIntegrationid</name>
        </outputParameters>
    </apexPluginCalls>
    <apexPluginCalls>
        <name>SendFiservRequest</name>
        <label>SendFiservRequest</label>
        <locationX>1441</locationX>
        <locationY>321</locationY>
        <apexClass>FlowWebServiceFiserv</apexClass>
        <connector>
            <targetReference>Case_Update_Treatment_accepted</targetReference>
        </connector>
        <inputParameters>
            <name>vCaseId</name>
        </inputParameters>
        <inputParameters>
            <name>vCoConsent</name>
            <value>
                <elementReference>Refi_CoBorrower_FiServ_DataTx_Consent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vFinanceAccountId</name>
            <value>
                <elementReference>FaNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vIntegrationid</name>
            <value>
                <elementReference>CaseIntegrationid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>vPrConsent</name>
            <value>
                <elementReference>Refi_PrimaryBorrower_FiServ_DataTx_Consent</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FiservRefId</assignToReference>
            <name>oReferenceId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FiservServiceStatus</assignToReference>
            <name>oStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CaseStatus</assignToReference>
            <name>oCaseStatus</name>
        </outputParameters>
    </apexPluginCalls>
    <assignments>
        <name>Coborrowerassignemnt</name>
        <label>Coborrowerassignemnt</label>
        <locationX>827</locationX>
        <locationY>567</locationY>
        <assignmentItems>
            <assignToReference>CaseFAC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoborrowerFACid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowcoborrowername</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseFACid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CobFACid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Co-Borrower</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Treatment_Outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>commentassignment</name>
        <label>commentassignment</label>
        <locationX>1214</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>commentfinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Treatment_Declined_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Commentfinaldecline</name>
        <label>Commentfinaldecline</label>
        <locationX>1373</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>commentfinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Borrower</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Treatment_Declined_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fiserv_Service_Status</name>
        <label>Fiserv Service Status</label>
        <locationX>1686</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>FiservServiceStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Data Not send to Fiserv as Data Transfer Consent was not provided</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Update_Treatment_accepted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Primaryborrowerassignment</name>
        <label>Primaryborrowerassignment</label>
        <locationX>822</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>CaseFAC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>primaryFACID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contactname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowprimaryborrowername</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseFACid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriFACID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Borrower</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Treatment_Outcome</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Data_Consent</name>
        <choiceText>Data Consent</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Treatment_Accepted</name>
        <choiceText>Yes -Treatment Accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Treatment Accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Treatment_Accepted_Consent_Screen2</name>
        <choiceText>Treatment Accepted</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Treatment Accepted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Treatment_Declined</name>
        <choiceText>No -Treatment Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Treatment Declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Treatment_Declined_Consent_Screen2</name>
        <choiceText>Treatment Declined</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Treatment Declined</stringValue>
        </value>
    </choices>
    <choices>
        <name>Treatment_not_provided</name>
        <choiceText>Not Now -Treatment Not Provided</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Treatment Not Provided</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CaseId_Null</name>
        <label>CaseId Null</label>
        <locationX>866</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseId_Null_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseExists</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Initial_Create_Case</targetReference>
            </connector>
            <label>CaseId Null True</label>
        </rules>
        <rules>
            <name>CaseId_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseExists</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Getborrowerinfo</targetReference>
            </connector>
            <label>CaseId Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Chcek_Refi_Pitch_Eligible_Flag</name>
        <label>Chcek Refi_Pitch_Eligible_Flag</label>
        <locationX>63</locationX>
        <locationY>35</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Refi_Pitch_Eligible_Flag_value_is_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Refi_Pitch_Eligible_Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_offer_to_display</targetReference>
            </connector>
            <label>Do not display offer</label>
        </rules>
        <rules>
            <name>Display_Offer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refi_Pitch_Eligible_Flag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loyalty_User</targetReference>
            </connector>
            <label>Display Offer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_consent_screen_treatment_accepted</name>
        <label>Decision consent screen treatment accepted</label>
        <locationX>1212</locationX>
        <locationY>589</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Treatment_Declined_consent_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Consent_Outcome_screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Treatment_Declined_Consent_Screen2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>commentassignment</targetReference>
            </connector>
            <label>Treatment Declined consent screen</label>
        </rules>
        <rules>
            <name>Treatment_accepted_consent_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_Consent_Outcome_screen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Treatment_Accepted_Consent_Screen2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Consent_Selected</targetReference>
            </connector>
            <label>Treatment accepted consent screen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Loyalty_User</name>
        <label>Loyalty User</label>
        <locationX>65</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Loyalty_User_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>servicegroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Loyalty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetKMArticlePluggin</targetReference>
            </connector>
            <label>Loyalty User yes</label>
        </rules>
        <rules>
            <name>Loyalty_User_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>servicegroup</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Loyalty</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Auto_Loyalty_User</targetReference>
            </connector>
            <label>Loyalty User No</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Consent_Selected</name>
        <label>No Consent Selected</label>
        <locationX>1434</locationX>
        <locationY>763</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>DO_NOT_Call_Fiserv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refi_PrimaryBorrower_FiServ_DataTx_Consent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refi_CoBorrower_FiServ_DataTx_Consent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fiserv_Service_Status</targetReference>
            </connector>
            <label>DO NOT Call Fiserv</label>
        </rules>
        <rules>
            <name>Call_Fiserv</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Refi_CoBorrower_FiServ_DataTx_Consent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refi_PrimaryBorrower_FiServ_DataTx_Consent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendFiservRequest</targetReference>
            </connector>
            <label>Call Fiserv</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Borrower_available</name>
        <label>Primary Borrower available</label>
        <locationX>595</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Primary_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>primaryFACID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Primaryborrowerassignment</targetReference>
            </connector>
            <label>Primary available</label>
        </rules>
        <rules>
            <name>Coborrower_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CoborrowerFACid</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>primaryFACID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Coborrowerassignemnt</targetReference>
            </connector>
            <label>Coborrower</label>
        </rules>
    </decisions>
    <decisions>
        <name>Treatment_Outcome</name>
        <label>Treatment Outcome</label>
        <locationX>1052</locationX>
        <locationY>272</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Treatment_Accepted_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_check_Radio_button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Treatment_Accepted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Treatment_Accepted_screen_2</targetReference>
            </connector>
            <label>Treatment Accepted Outcome</label>
        </rules>
        <rules>
            <name>Treatment_Declined_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_check_Radio_button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Treatment_Declined</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Commentfinaldecline</targetReference>
            </connector>
            <label>Treatment Declined Outcome</label>
        </rules>
        <rules>
            <name>Treatment_Not_Provided_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Eligibility_check_Radio_button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Treatment_not_provided</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Treatmentnotprovidedupdate</targetReference>
            </connector>
            <label>Treatment Not Provided Outcome</label>
        </rules>
    </decisions>
    <formulas>
        <name>ArticleNumber</name>
        <dataType>String</dataType>
        <expression>{!$Label.Loyalty_Article_Number}</expression>
    </formulas>
    <formulas>
        <name>CaseRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Loyalty_Case_Record_Id}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Refinance Pitch Eligiblity - Auto Loyalty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refinance Pitch Eligiblity - Auto Loyalty</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Initial_Create_Case</name>
        <label>Create Case</label>
        <locationX>1120</locationX>
        <locationY>41</locationY>
        <assignRecordIdToReference>Caseid</assignRecordIdToReference>
        <connector>
            <targetReference>Getborrowerinfo</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Call to Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Loyalty/Retention</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Auto Loyalty</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>Faid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_ID__c</field>
            <value>
                <elementReference>CaseIntegrationid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CaseRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Self_Service_Channel__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request_Type__c</field>
            <value>
                <stringValue>Refinancing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Inbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Loyalty</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ANI_and_CONN</name>
        <label>Get ANI and CONN</label>
        <locationX>603</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Already_exists</targetReference>
        </connector>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Faid</elementReference>
            </value>
        </filters>
        <object>tempinteraction__c</object>
        <outputAssignments>
            <assignToReference>ANI</assignToReference>
            <field>ANI__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CONN</assignToReference>
            <field>CONN_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Getborrowerinfo</name>
        <label>Getborrowerinfo</label>
        <locationX>864</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getcoborrowername</targetReference>
        </connector>
        <filters>
            <field>Customer_Role_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0-Primary Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Faid</elementReference>
            </value>
        </filters>
        <object>Financial_Account_Customer__c</object>
        <outputAssignments>
            <assignToReference>flowprimaryborrowername</assignToReference>
            <field>Customer_Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PriFACID</assignToReference>
            <field>Financial_Account_Customer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FaNumber</assignToReference>
            <field>Financial_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>primaryFACID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Customer_Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Getcoborrowername</name>
        <label>Getcoborrowername</label>
        <locationX>599</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Borrower_available</targetReference>
        </connector>
        <filters>
            <field>Customer_Role_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>6-Co-Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Faid</elementReference>
            </value>
        </filters>
        <object>Financial_Account_Customer__c</object>
        <outputAssignments>
            <assignToReference>flowcoborrowername</assignToReference>
            <field>Customer_Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CobFACid</assignToReference>
            <field>Financial_Account_Customer__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CoborrowerFACid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Record_Already_exists</name>
        <label>Record Already exists</label>
        <locationX>743</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseId_Null</targetReference>
        </connector>
        <filters>
            <field>Integration_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIntegrationid</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseExists</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Case_Update_Treatment_accepted</name>
        <label>Case Update Treatment accepted</label>
        <locationX>1685</locationX>
        <locationY>322</locationY>
        <connector>
            <targetReference>Treatment_accepted_FAupdate</targetReference>
        </connector>
        <filters>
            <field>Integration_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIntegrationid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ANI__c</field>
            <value>
                <elementReference>ANI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Comments__c</field>
            <value>
                <elementReference>Comment1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConnId__c</field>
            <value>
                <elementReference>CONN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Contactname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Auto Loyalty treatment accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Customer_ID__c</field>
            <value>
                <elementReference>CaseFACid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Customer__c</field>
            <value>
                <elementReference>CaseFAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refi_CoBorrower_FiServ_CallTx_Consent__c</field>
            <value>
                <elementReference>Refi_CoBorrower_FiServ_CallTx_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refi_CoBorrower_FiServ_DataTx_Consent__c</field>
            <value>
                <elementReference>Refi_CoBorrower_FiServ_DataTx_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refi_FiServ_Data_Transfer_Status__c</field>
            <value>
                <elementReference>CaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refi_Offer_Name__c</field>
            <value>
                <elementReference>Offer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refi_PrimaryBorrower_FiServ_CallTx_Conse__c</field>
            <value>
                <elementReference>Refi_PrimaryBorrower_FiServ_CallTx_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refi_PrimaryBorrower_FiServ_DataTx_Conse__c</field>
            <value>
                <elementReference>Refi_PrimaryBorrower_FiServ_DataTx_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Recipient__c</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>External Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Loyalty Treatment Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transfer_To__c</field>
            <value>
                <stringValue>TFSB</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>FA_Update_Treatment_Flag</name>
        <label>FA Update Treatment Flag</label>
        <locationX>1687</locationX>
        <locationY>197</locationY>
        <connector>
            <targetReference>Treatment_Declined_outcome_last_screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Faid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refi_Pitch_Treatment__c</field>
            <value>
                <stringValue>Treatment Declined</stringValue>
            </value>
        </inputAssignments>
        <object>Financial_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Treatment_accepted_FAupdate</name>
        <label>Treatment accepted FAupdate</label>
        <locationX>1843</locationX>
        <locationY>324</locationY>
        <connector>
            <targetReference>Treatment_accepted_last_screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Faid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refi_Pitch_Treatment__c</field>
            <value>
                <stringValue>Treatment Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Financial_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Treatment_Declined_Update</name>
        <label>Treatment Declined Update</label>
        <locationX>1540</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>FA_Update_Treatment_Flag</targetReference>
        </connector>
        <filters>
            <field>Integration_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIntegrationid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ANI__c</field>
            <value>
                <elementReference>ANI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Comments__c</field>
            <value>
                <elementReference>commentfinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConnId__c</field>
            <value>
                <elementReference>CONN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Contactname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Auto Loyalty treatment declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Customer_ID__c</field>
            <value>
                <elementReference>CaseFACid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Customer__c</field>
            <value>
                <elementReference>CaseFAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refi_Offer_Name__c</field>
            <value>
                <elementReference>Offer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Recipient__c</field>
            <value>
                <elementReference>CaseContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Loyalty Treatment Declined</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>TreatmentnotprovidedFaupdate</name>
        <label>TreatmentnotprovidedFaupdate</label>
        <locationX>1523</locationX>
        <locationY>29</locationY>
        <connector>
            <targetReference>Treatment_not_provided_outcome_screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Faid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refi_Pitch_Treatment__c</field>
            <value>
                <stringValue>Treatment Not Provided</stringValue>
            </value>
        </inputAssignments>
        <object>Financial_Account__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Treatmentnotprovidedupdate</name>
        <label>Treatmentnotprovidedupdate</label>
        <locationX>1349</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>TreatmentnotprovidedFaupdate</targetReference>
        </connector>
        <filters>
            <field>Integration_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseIntegrationid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ANI__c</field>
            <value>
                <elementReference>ANI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConnId__c</field>
            <value>
                <elementReference>CONN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>Contactname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Auto Loyalty treatment not provided</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Customer_ID__c</field>
            <value>
                <elementReference>CaseFACid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Customer__c</field>
            <value>
                <elementReference>CaseFAC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refi_Offer_Name__c</field>
            <value>
                <elementReference>Offer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Recipient__c</field>
            <value>
                <stringValue>Primary Borrower</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Auto Loyalty Treatment not provided</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Ask_for_Treatment_Eligibility</name>
        <label>Ask for Treatment Eligibility</label>
        <locationX>452</locationX>
        <locationY>186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ANI_and_CONN</targetReference>
        </connector>
        <fields>
            <name>Eligibility_request_Text</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;&lt;B&gt;LEGAL LANGUAGE&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!KMArticleLegal1}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt; &lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Caseid}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Eligibility_check_Radio_button</name>
            <choiceReferences>Treatment_Accepted</choiceReferences>
            <choiceReferences>Treatment_Declined</choiceReferences>
            <choiceReferences>Treatment_not_provided</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Treatment_not_provided</defaultSelectedChoiceReference>
            <fieldText>Eligibility check Radio button</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <defaultValue>
                <elementReference>Comment1</elementReference>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Length of comment cannot be greater than 500 characters</errorMessage>
                <formulaExpression>Len({!Comments})&lt;500</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>No_offer_to_display</name>
        <label>No offer to display</label>
        <locationX>661</locationX>
        <locationY>30</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>nooffertodisplay</name>
            <fieldText>No eligible offer to display</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Non_Auto_Loyalty_User</name>
        <label>Non Auto Loyalty User</label>
        <locationX>60</locationX>
        <locationY>317</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Nonloyaltyuser</name>
            <fieldText>Auto Loyalty Offer Available</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Treatment_accepted_last_screen</name>
        <label>Treatment accepted last screen</label>
        <locationX>1991</locationX>
        <locationY>321</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>treatmentacceptedlastscreen</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ResponseFiserv</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!FiservServiceStatus}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Treatment_Accepted_screen_2</name>
        <label>Treatment Accepted screen 2</label>
        <locationX>1057</locationX>
        <locationY>592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_consent_screen_treatment_accepted</targetReference>
        </connector>
        <fields>
            <name>Legallanguage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;LEGAL LANGUAGE&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!legallanguagevar}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Primaryborrowerscreen2</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Primary Borrower&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrimaryBorrowername</name>
            <fieldText>Name: {!flowprimaryborrowername}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Refi_PrimaryBorrower_FiServ_DataTx_Consent</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Data Consent&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Refi_PrimaryBorrower_FiServ_CallTx_Consent</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Call Transfer Consent&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Please select suitable option to proceed further</errorMessage>
                <formulaExpression>OR({!Refi_PrimaryBorrower_FiServ_DataTx_Consent},{!Refi_PrimaryBorrower_FiServ_CallTx_Consent},{!Refi_CoBorrower_FiServ_DataTx_Consent},{!Refi_CoBorrower_FiServ_CallTx_Consent},
Not(REGEX({!No_Consent_Outcome_screen},&apos;Treatment Accepted&apos;)))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Blank</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CoBorrower</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Co-Borrower&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>coborrowername</name>
            <fieldText>Name: {!flowcoborrowername}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Refi_CoBorrower_FiServ_DataTx_Consent</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Data Consent&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Cannot select Co-Borrower Data Consent as Co-Borrower is not available</errorMessage>
                <formulaExpression>NOT(AND({!Refi_CoBorrower_FiServ_DataTx_Consent},ISBLANK({!flowcoborrowername})))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Refi_CoBorrower_FiServ_CallTx_Consent</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Call Transfer Consent&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>Cannot select Co-Borrower Call Consent as Co-Borrower is not available</errorMessage>
                <formulaExpression>NOT(AND({!Refi_CoBorrower_FiServ_CallTx_Consent},ISBLANK({!flowcoborrowername})))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Blank2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Consent_Outcome_screen</name>
            <choiceReferences>Treatment_Accepted_Consent_Screen2</choiceReferences>
            <choiceReferences>Treatment_Declined_Consent_Screen2</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Treatment_Accepted_Consent_Screen2</defaultSelectedChoiceReference>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF3333&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Consent&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comment1</name>
            <defaultValue>
                <elementReference>Comments</elementReference>
            </defaultValue>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Comment&lt;/B&gt;&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Length of comments cannot be greater than 500 characters</errorMessage>
                <formulaExpression>Len({!Comment1})&lt;500</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>Treatment_Declined_outcome_last_screen</name>
        <label>Treatment Declined outcome last screen</label>
        <locationX>1865</locationX>
        <locationY>195</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Treatmentoutcomedeclinemessage</name>
            <fieldText>Thank you for  providing your response</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Treatment_not_provided_outcome_screen</name>
        <label>Treatment not provided outcome screen</label>
        <locationX>1740</locationX>
        <locationY>24</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Treatmentnotprovidedmessage</name>
            <fieldText>Thank you for your response. We wish to speak to you soon!!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Chcek_Refi_Pitch_Eligible_Flag</startElementReference>
    <variables>
        <name>ANI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseFAC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseFACid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Caseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseIntegrationid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CobFACid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CoborrowerFACid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>commentfinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CONN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contactname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Faid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FaNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FiservRefId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FiservServiceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FiservStatusLastScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowcoborrowername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>flowprimaryborrowername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>KMArticleLegal1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>We do have an opportunity to transfer you to an affiliate, Toyota Financial Savings Bank, who can discuss refinancing this financial contract for you. Refinancing would be subject to credit approval, new terms and conditions and if approved, the contract would be refinanced by TFSB (Toyota Financial Savings Bank).Are you interested in being transferred to hear more and pursue applying with TFSB for refinancing?</stringValue>
        </value>
    </variables>
    <variables>
        <name>legallanguagevar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Offer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PriFACID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>primaryFACID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Refi_Pitch_Eligible_Flag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Refi_Pitch_Treatment</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>servicegroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
