AUGREL/src/flows/Start_Process_Autocheque-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignUpdatedCases</name>
        <label>AssignUpdatedCases</label>
        <locationX>428</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>UpdatedCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchedCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThruCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateStatus</name>
        <label>UpdateStatus</label>
        <locationX>426</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>MatchedCases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignUpdatedCases</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FoundCases</name>
        <label>FoundCases</label>
        <locationX>173</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FoundACCases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sColFoundCases</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThruCases</targetReference>
            </connector>
            <label>FoundACCases</label>
        </rules>
    </decisions>
    <interviewLabel>Start Process Autocheque {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Process Autocheque</label>
    <loops>
        <name>LoopThruCases</name>
        <label>LoopThruCases</label>
        <locationX>177</locationX>
        <locationY>323</locationY>
        <assignNextValueToReference>MatchedCases</assignNextValueToReference>
        <collectionReference>sColFoundCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupCases</name>
        <label>LookupCases</label>
        <locationX>171</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundCases</targetReference>
        </connector>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Start Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payments</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFinancialAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Autocheque Enrollment</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sColFoundCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCases</name>
        <label>UpdateCases</label>
        <locationX>180</locationX>
        <locationY>462</locationY>
        <inputReference>UpdatedCases</inputReference>
    </recordUpdates>
    <startElementReference>LookupCases</startElementReference>
    <variables>
        <name>MatchedCases</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sColFoundCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UpdatedCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>vFinancialAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
