AUGREL/src/flows/TFSC_ManualCure-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CoBorrowerExistOnAcc</name>
        <label>CoBorrowerExistOnAcc</label>
        <locationX>196</locationX>
        <locationY>240</locationY>
        <actionName>TFSC_CoBorrowerExistOnFA</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>TexasStateDecision</targetReference>
        </connector>
        <inputParameters>
            <name>faIds</name>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CoBorrowerExist</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CureAmount</name>
        <label>CureAmount</label>
        <locationX>9</locationX>
        <locationY>125</locationY>
        <actionName>TFSC_MostRecentCureAmount</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ExpiryDateCureNote</targetReference>
        </connector>
        <inputParameters>
            <name>faIds</name>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>MostRecentCureAmt</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>ExpiryDateCureNote</name>
        <label>ExpiryDateCureNote</label>
        <locationX>18</locationX>
        <locationY>243</locationY>
        <actionName>TFSC_MostRecentCureExpDT</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CoBorrowerExistOnAcc</targetReference>
        </connector>
        <inputParameters>
            <name>faIds</name>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ExpiryDate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>ContractStateNotTexas</name>
        <label>ContractStateNotTexas</label>
        <locationX>301</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>ContractStateValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataFetchBasedOnRecType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContractStateTexas</name>
        <label>ContractStateTexas</label>
        <locationX>303</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>ContractStateValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DataFetchBasedOnRecType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreUserInput</name>
        <label>StoreUserInput</label>
        <locationX>1331</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>ReasonRequired</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ManualCureRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DefaultFormUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recommended_Form</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UserCommentAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ManualCureReasonRequired</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DelinquencyChiice</name>
        <choiceText>Delinquency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delinquency</stringValue>
        </value>
    </choices>
    <choices>
        <name>Discharged_BKChoice</name>
        <choiceText>Discharged BK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Discharged BK</stringValue>
        </value>
    </choices>
    <choices>
        <name>ImpoundsChoice</name>
        <choiceText>Impounds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Impounds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Legal_RequestChoice</name>
        <choiceText>Legal Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Legal Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lift_of_Stay_BKChoice</name>
        <choiceText>Lift of Stay BK</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lift of Stay BK</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoneConstant</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>Voluntary_SurrenderChoice</name>
        <choiceText>Voluntary Surrender</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Voluntary Surrender</stringValue>
        </value>
    </choices>
    <choices>
        <name>WFSA_WFSC_Activity_Code_RejectedChoice</name>
        <choiceText>WFSA / WFSC Activity Code Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WFSA / WFSC Activity Code Rejected</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>ContractStateDateComparison</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2006-08-01</dateValue>
        </value>
    </constants>
    <constants>
        <name>Lease</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lease</stringValue>
        </value>
    </constants>
    <constants>
        <description>This constant stores the activity code &apos;MANL&apos;</description>
        <name>MANLActivityCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MANL</stringValue>
        </value>
    </constants>
    <constants>
        <name>Retail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ConditionForCAorMI</name>
        <label>ConditionForCAorMI</label>
        <locationX>762</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Questionnaire_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CAorMI</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>BorrowerGarageState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BorrowerGarageState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CoBorrowerExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WarningMsgforCAandMI</targetReference>
            </connector>
            <label>CAorMI</label>
        </rules>
    </decisions>
    <decisions>
        <name>DataFetchBasedOnRecType</name>
        <label>DataFetchBasedOnRecType</label>
        <locationX>491</locationX>
        <locationY>469</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RetailRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeNameFA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetailDataCS</targetReference>
            </connector>
            <label>RetailRecord</label>
        </rules>
        <rules>
            <name>LeaseRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordTypeNameFA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lease</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeaseDataCS</targetReference>
            </connector>
            <label>LeaseRecord</label>
        </rules>
    </decisions>
    <decisions>
        <name>DelinquencyDecision</name>
        <label>DelinquencyDecision</label>
        <locationX>1582</locationX>
        <locationY>651</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorDelinquencyRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MANL_Activity_Creation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorDelinquencyRadio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questionnaire_Page</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>DelinquencyDecision_0</name>
        <label>StateThresholdErrorMsg</label>
        <locationX>1153</locationX>
        <locationY>696</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CureLetterRequiredState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questionnaire_Page</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CureLetterRequiredState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoChoice</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>HardStopsDecisions</name>
        <label>HardStopsDecisions</label>
        <locationX>765</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Questionnaire_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Collection_List_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CollectionListNumber1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CollectionListStatus1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorCollectionList</targetReference>
            </connector>
            <label>Collection List Error</label>
        </rules>
        <rules>
            <name>ErrorDPDCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysPastDue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CollectionListNumber1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1910</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorDPD</targetReference>
            </connector>
            <label>ErrorDPDCustomer</label>
        </rules>
        <rules>
            <name>ErrorDPDStateThrsh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysPastDue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CustomSettingDPD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CollectionListNumber1</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>1910</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorStateThreshold</targetReference>
            </connector>
            <label>ErrorDPDStateThrsh</label>
        </rules>
        <rules>
            <name>StateRequiredFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomSettingStateRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorCureLetterStateRequired</targetReference>
            </connector>
            <label>StateRequiredFalse</label>
        </rules>
        <rules>
            <name>StateRequiredTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CustomSettingStateRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConditionForCAorMI</targetReference>
            </connector>
            <label>StateRequiredTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>ManualCureReasonRequired</name>
        <label>ManualCureReasonRequired</label>
        <locationX>1572</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>MANL_Activity_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ManualCureError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManualCureRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen_Manual_Cure_Required</targetReference>
            </connector>
            <label>ManualCureError</label>
        </rules>
        <rules>
            <name>DelinquencyError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysPastDue</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ManualCureRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DelinquencyChiice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageDelinquency</targetReference>
            </connector>
            <label>DelinquencyError</label>
        </rules>
    </decisions>
    <decisions>
        <name>TexasStateDecision</name>
        <label>TexasStateDecision</label>
        <locationX>102</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>DataFetchBasedOnRecType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TexasandContractStateTexas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BorrowerGarageState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractStateTexas</targetReference>
            </connector>
            <label>TexasandContractStateTexas</label>
        </rules>
        <rules>
            <name>TXandContractStateNonTX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BorrowerGarageState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContractState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContractStateNotTexas</targetReference>
            </connector>
            <label>TXandContractStateNonTX</label>
        </rules>
    </decisions>
    <description>This flow is created for manual cure request process.</description>
    <formulas>
        <name>CharacterCount</name>
        <dataType>Number</dataType>
        <expression>LEN({!NoteGeneration})+5</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DefaultForm</name>
        <dataType>String</dataType>
        <expression>IF(AND({!BorrowerGarageState}=&apos;WI&apos;,{!ContractStateDateComparison} &lt;= {!ContractDate}),&apos;4137WI&apos;,
IF(AND(NOT(ISBLANK({!ExpiryDate})), {!BorrowerGarageState}=&apos;TX&apos;, ({!$Flow.CurrentDate} - {!ExpiryDate})&gt;0, ({!$Flow.CurrentDate} - {!ExpiryDate})&lt;=15),
	&apos;4040TX&apos;,
	{!CustomSettingDefaultForm}))</expression>
    </formulas>
    <formulas>
        <name>FinalRemainingBalance</name>
        <dataType>Number</dataType>
        <expression>IF(
 {!RecordTypeNameFA} = {!Retail},
 {!RemainingBalanceValue},
 {!GrossPayoffAmtValue}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GrossPayoffAmtValue</name>
        <dataType>Number</dataType>
        <expression>IF(
 ISBLANK({!GrossPayOffAmt}),
 0.00,
 VALUE({!GrossPayOffAmt})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RemainingBalanceValue</name>
        <dataType>Number</dataType>
        <expression>IF(
 ISBLANK({!RemainingBalance}),
 0.00,
 VALUE({!RemainingBalance})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StateThresholdsCS</name>
        <dataType>String</dataType>
        <expression>IF(OR({!BorrowerGarageState} = &apos;CA&apos;, {!BorrowerGarageState} = &apos;MI&apos;),
	IF({!CoBorrowerExist},{!BorrowerGarageState}&amp;&apos; - CoBorr&apos;,{!BorrowerGarageState}&amp;&apos; - Borr&apos;),
	IF(AND({!BorrowerGarageState} = &apos;TX&apos;,{!ContractStateValid} ),{!BorrowerGarageState}&amp;&apos; - CS&apos;,{!BorrowerGarageState})
)</expression>
    </formulas>
    <formulas>
        <name>testboolean</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISBLANK({!ExpiryDate})), {!BorrowerGarageState}=&apos;TX&apos;, ({!$Flow.CurrentDate} - {!ExpiryDate})&gt;0, ({!$Flow.CurrentDate} - {!ExpiryDate})&lt;=15)</expression>
    </formulas>
    <formulas>
        <description>Formula field to append first name and last name of running user.</description>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>{!UserFirstName}&amp;&apos; &apos;&amp;{!UserLastName}</expression>
    </formulas>
    <interviewLabel>TFSC_ManualCure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TFSC_ManualCure</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>MANL_Activity_Creation</name>
        <label>MANL Activity Creation</label>
        <locationX>1735</locationX>
        <locationY>470</locationY>
        <assignRecordIdToReference>TaskRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Manual_Cure_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Activity_Code__c</field>
            <value>
                <elementReference>MANLActivityCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>NoteGeneration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Number__c</field>
            <value>
                <elementReference>FInancialAccountNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_System_Created_By__c</field>
            <value>
                <stringValue>SFDC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>MANL – MANUALLY WORKING COLL LIST</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Manual_Cure_Request</name>
        <label>Manual Cure Request</label>
        <locationX>1967</locationX>
        <locationY>471</locationY>
        <assignRecordIdToReference>ManualCureRequestID</assignRecordIdToReference>
        <connector>
            <targetReference>LastActivityUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>AcctNumber__c</field>
            <value>
                <elementReference>HostAccNum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Borrower__c</field>
            <value>
                <elementReference>BorrowerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Form__c</field>
            <value>
                <elementReference>Recommended_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <elementReference>ManualCureRequired</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requestor__c</field>
            <value>
                <elementReference>UserName</elementReference>
            </value>
        </inputAssignments>
        <object>Manual_Cure_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>BorrowerNameforFA</name>
        <label>BorrowerNameforFA</label>
        <locationX>377</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContractStateData</targetReference>
        </connector>
        <filters>
            <field>Borrower_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_Role_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0-Primary Borrower</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </filters>
        <object>Financial_Account_Customer__c</object>
        <outputAssignments>
            <assignToReference>BorrowerName</assignToReference>
            <field>Customer_Full_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ContractStateData</name>
        <label>ContractStateData</label>
        <locationX>189</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CureAmount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DealershipID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ContractState</assignToReference>
            <field>BillingState</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Financial_Account_Details</name>
        <label>Financial Account Details</label>
        <locationX>9</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </filters>
        <object>Financial_Account__c</object>
        <outputAssignments>
            <assignToReference>HostAccNum</assignToReference>
            <field>CO_Host_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CollectionListNumber</assignToReference>
            <field>Collection_List_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CollectionListNumber1</assignToReference>
            <field>Collection_List_Number_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CollectionListDescription</assignToReference>
            <field>Collection_List_Number_Formula__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CollectionListStatus1</assignToReference>
            <field>Collection_List_Status_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContractDate</assignToReference>
            <field>Contract_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DealershipID</assignToReference>
            <field>Dealership__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FInancialAccountNumber</assignToReference>
            <field>Financial_Account_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RemainingBalance</assignToReference>
            <field>Loan_Current_Amount__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DaysPastDue</assignToReference>
            <field>Numeric_Days_Past_Due__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GrossPayOffAmt</assignToReference>
            <field>Payoff_Amount_Gross__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BorrowerGarageState</assignToReference>
            <field>Primary_Garage_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FARecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SpecialHandlingIndicator</assignToReference>
            <field>Special_Handling__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LeaseDataCS</name>
        <label>LeaseDataCS</label>
        <locationX>489</locationX>
        <locationY>591</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HardStopsDecisions</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StateThresholdsCS</elementReference>
            </value>
        </filters>
        <object>Manual_Cure_State_threshold__c</object>
        <outputAssignments>
            <assignToReference>CustomSettingStateRequired</assignToReference>
            <field>Lease_Cure_Required_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CustomSettingDPD</assignToReference>
            <field>Lease_FOPP_Minimum_Days_Delinquent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CustomSettingDefaultForm</assignToReference>
            <field>Lease_Form__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Record_Type_Details</name>
        <label>Record Type Details</label>
        <locationX>191</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BorrowerNameforFA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FARecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeNameFA</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>RetailDataCS</name>
        <label>RetailDataCS</label>
        <locationX>486</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HardStopsDecisions</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StateThresholdsCS</elementReference>
            </value>
        </filters>
        <object>Manual_Cure_State_threshold__c</object>
        <outputAssignments>
            <assignToReference>CustomSettingStateRequired</assignToReference>
            <field>Retail_Cure_Required_State__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CustomSettingDPD</assignToReference>
            <field>Retail_FOPP_Minimum_Days_Delinquent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CustomSettingDefaultForm</assignToReference>
            <field>Retail_Form__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>LastActivityUpdate</name>
        <label>LastActivityUpdate</label>
        <locationX>2162</locationX>
        <locationY>469</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinancialAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Activity_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Financial_Account__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen_Manual_Cure_Required</name>
        <label>Error Screen Manual Cure Required</label>
        <locationX>1574</locationX>
        <locationY>80</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ManualCureRequiredError</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You need to answer &lt;B&gt;&amp;quot;Why is a manual Cure required?&amp;quot; &lt;/B&gt;before proceeding further.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ErrorCollectionList</name>
        <label>ErrorCollectionList</label>
        <locationX>587</locationX>
        <locationY>793</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorCollection</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account must be on an active Collections list to submit a manual Cure request.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ErrorCureLetterStateRequired</name>
        <label>ErrorCureLetterStateRequired</label>
        <locationX>929</locationX>
        <locationY>709</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DelinquencyDecision_0</targetReference>
        </connector>
        <fields>
            <name>CureLetterRequiredState</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;A Cure Letter is not required in this state. Are you sure you want to proceed?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UserInfoStateThreshold</name>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ErrorDPD</name>
        <label>ErrorDPD</label>
        <locationX>705</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDPDmessage</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Account must be 15+ days past due before you request a manual Cure.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ErrorMessageDelinquency</name>
        <label>ErrorMessageDelinquency</label>
        <locationX>1377</locationX>
        <locationY>466</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DelinquencyDecision</targetReference>
        </connector>
        <fields>
            <name>ErrorDelinquencyRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You are requesting a manual cure for delinquency purposes. DPD is 60+. Are you sure you want to proceed?&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplaySpace_3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UseHelpText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select Yes and Click &amp;apos;Next&amp;apos; to Submit Manual Cure request.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Select No and Click &amp;apos;Next&amp;apos; to go back to Questionnaire page.&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ErrorStateThreshold</name>
        <label>ErrorStateThreshold</label>
        <locationX>885</locationX>
        <locationY>867</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StateThresholdErrorMsg</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;DPD threshold is below the minimum for this state. A manual Cure cannot be requested at this time.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Questionnaire_Page</name>
        <label>Questionnaire Page</label>
        <locationX>1166</locationX>
        <locationY>450</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>StoreUserInput</targetReference>
        </connector>
        <fields>
            <name>ReadOnlyFields</name>
            <fieldText>{!QuestionnaireHeader}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ManualCureRequired</name>
            <choiceReferences>NoneConstant</choiceReferences>
            <choiceReferences>DelinquencyChiice</choiceReferences>
            <choiceReferences>Discharged_BKChoice</choiceReferences>
            <choiceReferences>ImpoundsChoice</choiceReferences>
            <choiceReferences>Legal_RequestChoice</choiceReferences>
            <choiceReferences>Lift_of_Stay_BKChoice</choiceReferences>
            <choiceReferences>Voluntary_SurrenderChoice</choiceReferences>
            <choiceReferences>WFSA_WFSC_Activity_Code_RejectedChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoneConstant</defaultSelectedChoiceReference>
            <fieldText>Why is a manual Cure required?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BlankSpace2</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recommended_Form</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultForm</elementReference>
            </defaultValue>
            <fieldText>Recommended Form</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BlankSpace</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comments</name>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Comment can not exceed 320 characters for a collection activity. Please reduce the length of your comments.&lt;/FONT&gt;&lt;/SPAN&gt;</errorMessage>
                <formulaExpression>LEN({!Comments})&lt;=320</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>DisplaySpace_4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;RIGHT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Click &amp;apos;Next&amp;apos; to Submit Manual Cure request.  &lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>WarningMsgforCAandMI</name>
        <label>WarningMsgforCAandMI</label>
        <locationX>1160</locationX>
        <locationY>249</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Questionnaire_Page</targetReference>
        </connector>
        <fields>
            <name>WarningMessageforCAandMI</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#FF0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;In &lt;FONT KERNING=&quot;1&quot;&gt;{!BorrowerGarageState}&lt;/FONT&gt;, a Cure Letter is only required for the CoBorrower.&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Financial_Account_Details</startElementReference>
    <textTemplates>
        <description>This note is saved in description of task created.</description>
        <name>NoteGeneration</name>
        <text>Reason for Manual Cure Request: {!ManualCureRequired}
DPD: {!DaysPastDue}
Recommended Form: {!Recommended_Form}
Comments: {!Comments}</text>
    </textTemplates>
    <textTemplates>
        <description>Used to display read only fields on Questionnaire Page</description>
        <name>QuestionnaireHeader</name>
        <text>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Days Past Due: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!DaysPastDue}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Remaining Balance: $&lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!FinalRemainingBalance}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Collection List Number: &lt;/B&gt;{!CollectionListNumber}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Collection List Description: &lt;/B&gt;{!CollectionListDescription}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Special Handling Indicator: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!SpecialHandlingIndicator}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Most Recent Cure Amount: &lt;/B&gt;&lt;FONT KERNING=&quot;1&quot;&gt;{!MostRecentCureAmt}&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;B&gt;Most Recent Cure Expiration Date: &lt;/B&gt;{!ExpiryDate}&lt;/FONT&gt;&lt;/DIV&gt;</text>
    </textTemplates>
    <variables>
        <description>This variable is used to store the field data 	Primary_Garage_State__c of FA</description>
        <name>BorrowerGarageState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BorrowerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable used for State CA and MI</description>
        <name>CoBorrowerExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CoBorrowerExistText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionListDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionListNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Storing the data for the field 	
Collection List Number 1</description>
        <name>CollectionListNumber1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is created to store FA field 	Collection_List_Status_1__c</description>
        <name>CollectionListStatus1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractStateValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CustomSettingDefaultForm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomSettingDPD</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CustomSettingStateRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This variable store the filed value of Numeric_Days_Past_Due__c of FA</description>
        <name>DaysPastDue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DaysPastDueText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DealershipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultFormUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This field will storerecommended form if any based on manual cure custom setting.</description>
        <name>DefaultRecommendedForm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ExpiryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable will store the record type id of FA</description>
        <name>FARecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is used to fetch the financial account details for the record on which flow is initiated.</description>
        <name>FinancialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FInancialAccountNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GrossPayOffAmt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store the CO Host Account Number of FA</description>
        <name>HostAccNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ManualCureRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MostRecentCureAmt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReasonRequired</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store the record type name of FA</description>
        <name>RecordTypeNameFA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemainingBalance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpecialHandlingIndicator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This store the record ID of newly created task.</description>
        <name>TaskRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UserCommentAdded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This will store the username from calling vf page</description>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
