AUGREL/src/flows/UC_ChildCaseChatter-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostToChatter</name>
        <label>PostToChatter</label>
        <locationX>1234</locationX>
        <locationY>684</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>InputCaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ParentChildMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PostToChatterGroup</name>
        <label>PostToChatterGroup</label>
        <locationX>984</locationX>
        <locationY>823</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>InputCaseID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ParentCaseGroup</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AllUpdates</name>
        <label>AllUpdates</label>
        <locationX>425</locationX>
        <locationY>585</locationY>
        <assignmentItems>
            <assignToReference>ParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentCase.RunFlows__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCaseAssRule</name>
        <label>UpdateCaseAssRule</label>
        <locationX>586</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>ParentCase.CaseAssignmentRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dsCaseDefaults.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentCase.RunRules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllUpdates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateOwner</name>
        <label>UpdateOwner</label>
        <locationX>215</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>ParentCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParentCase.Return_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentCaseUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AllUpdates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChildCaseEval</name>
        <label>ChildCase</label>
        <locationX>612</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsChildCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChildCaseCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUpChildCase</targetReference>
            </connector>
            <label>IsChildCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>EvaluateParentAssignment</name>
        <label>EvaluateParentAssignment</label>
        <locationX>362</locationX>
        <locationY>223</locationY>
        <defaultConnector>
            <targetReference>LookUpEtAlRules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUpEscalated</targetReference>
            </connector>
            <label>Escalated</label>
        </rules>
        <rules>
            <name>AdminGroupSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.Admin_Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCase.Admin_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUpAdmGrp</targetReference>
            </connector>
            <label>AdminGroupSelected</label>
        </rules>
        <rules>
            <name>RetrieveCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.Service_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrieve Title</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCase.Recall_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUpRetrieve</targetReference>
            </connector>
            <label>RetrieveCase</label>
        </rules>
        <rules>
            <name>PIF_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.Service_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIF Release</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCase.PIF_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUpPIF</targetReference>
            </connector>
            <label>PIF Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>EvaluateParentCase</name>
        <label>EvaluateParentCase</label>
        <locationX>221</locationX>
        <locationY>18</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RunRules</name>
            <conditionLogic>1 OR (2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.Return_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCase.Admin_Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCase.Admin_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentCase.Return_Assignment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Use Queue Rules</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EvaluateParentAssignment</targetReference>
            </connector>
            <label>RunRules</label>
        </rules>
        <rules>
            <name>ReturnUserDefined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCase.Return_User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwner</targetReference>
            </connector>
            <label>ReturnUserDefined</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundQueue</name>
        <label>FoundQueue</label>
        <locationX>772</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>QueueFoundID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseAssRule</targetReference>
            </connector>
            <label>QueueFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundRule</name>
        <label>FoundRule</label>
        <locationX>898</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>FoundOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsCaseDefaults</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookUpQueue</targetReference>
            </connector>
            <label>FoundOwner</label>
        </rules>
    </decisions>
    <decisions>
        <name>ParentUserCheck</name>
        <label>ParentUser</label>
        <locationX>987</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>PostToChatterGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ParentCaseUserTRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentCaseUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostToChatter</targetReference>
            </connector>
            <label>ParentCaseUser</label>
        </rules>
    </decisions>
    <description>When Child Case is closed, Post Chatter on Parent.</description>
    <interviewLabel>UC_ChildCaseChatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UC_ChildCaseChatter</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookUpAdmGrp</name>
        <label>LookUpAdmGrp</label>
        <locationX>694</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRule</targetReference>
        </connector>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCase.Admin_Group__c</elementReference>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>dsCaseDefaults</outputReference>
        <queriedFields>Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpCase</name>
        <label>LookUpCase</label>
        <locationX>32</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EvaluateParentCase</targetReference>
        </connector>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Title</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ParentCase</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>RunRules__c</queriedFields>
        <queriedFields>Admin_Group__c</queriedFields>
        <queriedFields>Return_Assignment__c</queriedFields>
        <queriedFields>Return_User__c</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>RunFlows__c</queriedFields>
        <queriedFields>Action__c</queriedFields>
        <queriedFields>Service_Request_Type__c</queriedFields>
        <queriedFields>PIF_Group__c</queriedFields>
        <queriedFields>Recall_Reason__c</queriedFields>
        <queriedFields>CaseAssignmentRule__c</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpChildCase</name>
        <label>LookUpChildCase</label>
        <locationX>826</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ParentUserCheck</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChildCaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ChildCase</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Service_Request_Type__c</queriedFields>
        <queriedFields>ClosedDate</queriedFields>
        <queriedFields>LastModifiedById</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpEscalated</name>
        <label>LookUpEscalated</label>
        <locationX>566</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRule</targetReference>
        </connector>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IsEscalated</stringValue>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>dsCaseDefaults</outputReference>
        <queriedFields>Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpEtAlRules</name>
        <label>LookUpEtAlRules</label>
        <locationX>575</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRule</targetReference>
        </connector>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCase.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Topic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCase.Service_Request_Type__c</elementReference>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>dsCaseDefaults</outputReference>
        <queriedFields>Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpPIF</name>
        <label>LookUpPIF</label>
        <locationX>606</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRule</targetReference>
        </connector>
        <filters>
            <field>Additional_Criteria_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PIF Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCase.PIF_Group__c</elementReference>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>dsCaseDefaults</outputReference>
        <queriedFields>Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpQueue</name>
        <label>LookUpQueue</label>
        <locationX>897</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundQueue</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dsCaseDefaults.Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>ParentQueue</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookUpRetrieve</name>
        <label>LookUpRetrieve</label>
        <locationX>576</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundRule</targetReference>
        </connector>
        <filters>
            <field>Additional_Criteria_Field__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retrieve Title Reason</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCase.Recall_Reason__c</elementReference>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>dsCaseDefaults</outputReference>
        <queriedFields>Owner__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>425</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>ChildCaseEval</targetReference>
        </connector>
        <inputReference>ParentCase</inputReference>
    </recordUpdates>
    <startElementReference>LookUpCase</startElementReference>
    <textTemplates>
        <name>EvaluationCriteriaTest1</name>
        <text>Admin Group: {!ParentCase.Admin_Group__c}
Status: {!ParentCase.Status}
Return User: {!ParentCase.Return_User__c}</text>
    </textTemplates>
    <textTemplates>
        <name>ParentCaseGroup</name>
        <text>Case Number: {!ChildCase.CaseNumber} is now closed.</text>
    </textTemplates>
    <textTemplates>
        <name>ParentChildMessage</name>
        <text>@[{!ParentCase.OwnerId}],
Case Number: {!ChildCase.CaseNumber} is now closed.</text>
    </textTemplates>
    <variables>
        <name>ChildCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ChildCaseCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ChildCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dsCaseDefaults</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UC_Case_Defaults__c</objectType>
    </variables>
    <variables>
        <name>InputCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>ParentCaseUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ParentQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>vFeedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
