AUGREL/src/flows/UC_Status_Update_Title_Subflow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>1663</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>sCaseRecord.CaseAssignmentRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sCaseRecord.RunRules__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>End_of_Loop</name>
        <label>End of Loop</label>
        <locationX>1269</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>Test</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TEST</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>QueueName_1</name>
        <label>QueueName</label>
        <locationX>1123</locationX>
        <locationY>183</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>csCaseDefaults.Owner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QueueName_1_1</name>
        <label>QueueName</label>
        <locationX>1142</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Admin - Customer Correspondence</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QueueName_1_1_1</name>
        <label>QueueName</label>
        <locationX>1395</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Admin - State to State</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateStatus</name>
        <label>UpdateStatus</label>
        <locationX>1605</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>sCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Title_Status</name>
        <label>Check Title Status</label>
        <locationX>832</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>csLookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Pending_Title</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Title.Title_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending-Not Yet Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueueName_1_1</targetReference>
            </connector>
            <label>Pending Title</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_STS_Case</name>
        <label>Found STS Case</label>
        <locationX>832</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>csLookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>STS_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>STSEval</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueueName_1_1_1</targetReference>
            </connector>
            <label>STS Case Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Owner_Specified</name>
        <label>New Owner Specified</label>
        <locationX>666</locationX>
        <locationY>182</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>csCaseDefaults.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>QueueName_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Found</name>
        <label>Queue Found</label>
        <locationX>1392</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>UpdateStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueId.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Title_is_not_null</name>
        <label>Title is not null</label>
        <locationX>576</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>PIF_Title_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Title</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Title_Status</targetReference>
            </connector>
            <label>PIF Title Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Title_Type</name>
        <label>Title Type</label>
        <locationX>57</locationX>
        <locationY>301</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>TitleEscalatedCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Transfer_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Escalated_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Admin_Escalation_Rule</targetReference>
            </connector>
            <label>TitleEscalatedCase</label>
        </rules>
        <rules>
            <name>AdminGroupSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Transfer_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Escalated_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Admin_Group_Rule</targetReference>
            </connector>
            <label>AdminGroupSelected</label>
        </rules>
        <rules>
            <name>PIF_Pending_Title</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Service_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIF Release</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Transfer_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Escalated_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Title</targetReference>
            </connector>
            <label>PIF Pending Title</label>
        </rules>
        <rules>
            <name>Follow_Up_Title_Case</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Transfer_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Escalated_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Service_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>STS_Case</targetReference>
            </connector>
            <label>Follow Up Title Case</label>
        </rules>
    </decisions>
    <interviewLabel>UC Status Update Title-Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UC Status Update Title-Subflow</label>
    <loops>
        <name>Custom_Setting_Loop</name>
        <label>Custom Setting Loop</label>
        <locationX>1031</locationX>
        <locationY>650</locationY>
        <assignNextValueToReference>csCaseDefaults</assignNextValueToReference>
        <collectionReference>scolUC_Case_Default</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UC_Case_Status_SubFlow</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>End_of_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>csLookup</name>
        <label>csLookup</label>
        <locationX>831</locationX>
        <locationY>520</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Setting_Loop</targetReference>
        </connector>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Action__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Topic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Service_Request_Type__c</elementReference>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>scolUC_Case_Default</outputReference>
        <queriedFields>Action__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Topic__c</queriedFields>
        <queriedFields>Additional_Criteria_Field__c</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>New_Status__c</queriedFields>
        <queriedFields>New_Sub_Status__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Admin_Escalation_Rule</name>
        <label>Lookup Admin Escalation Rule</label>
        <locationX>410</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Owner_Specified</targetReference>
        </connector>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IsEscalated</stringValue>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>csCaseDefaults</outputReference>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Action__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Admin_Group_Rule</name>
        <label>Lookup Admin Group Rule</label>
        <locationX>421</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Owner_Specified</targetReference>
        </connector>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Admin Group</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Admin_Group__c</elementReference>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>csCaseDefaults</outputReference>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Action__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Title</name>
        <label>Lookup Title</label>
        <locationX>408</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Title_is_not_null</targetReference>
        </connector>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Financial_Account__c</elementReference>
            </value>
        </filters>
        <object>Title__c</object>
        <outputReference>Title</outputReference>
        <queriedFields>Title_Status__c</queriedFields>
        <queriedFields>Title_Type__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Queue</name>
        <label>Queue</label>
        <locationX>1395</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>QueueId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>STS_Case</name>
        <label>STS Case</label>
        <locationX>413</locationX>
        <locationY>721</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_STS_Case</targetReference>
        </connector>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Title</stringValue>
            </value>
        </filters>
        <filters>
            <field>Financial_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Financial_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Request_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>State Transfer</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>STSEval</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Case_Update</name>
        <label>Case Update</label>
        <locationX>1650</locationX>
        <locationY>360</locationY>
        <inputReference>sCaseRecord</inputReference>
    </recordUpdates>
    <startElementReference>Title_Type</startElementReference>
    <subflows>
        <name>UC_Case_Status_SubFlow</name>
        <label>UC_Case_Status_SubFlow</label>
        <locationX>1036</locationX>
        <locationY>521</locationY>
        <connector>
            <targetReference>csLookup</targetReference>
        </connector>
        <flowName>UC_Case_Status_SubFlow</flowName>
        <inputAssignments>
            <name>csCaseDefault</name>
            <value>
                <elementReference>csCaseDefaults</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sCaseRecord</name>
            <value>
                <elementReference>sCaseRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>csAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>csCaseDefaults</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UC_Case_Defaults__c</objectType>
    </variables>
    <variables>
        <name>csValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>scolUC_Case_Default</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UC_Case_Defaults__c</objectType>
    </variables>
    <variables>
        <name>STSEval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Title__c</objectType>
    </variables>
</Flow>
