AUGREL/src/flows/UC_Status_Update_V1-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Tes_123</name>
        <label>Test</label>
        <locationX>69</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>Test</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tesst</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CaseIsEscalatedOrTransferred</name>
        <label>Case Is Escalated or Transferred</label>
        <locationX>53</locationX>
        <locationY>137</locationY>
        <defaultConnector>
            <targetReference>cslookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsEscalated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Escalated_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_and_escalated</targetReference>
            </connector>
            <label>Is Escalated</label>
        </rules>
        <rules>
            <name>IsTransferred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Transfer_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_and_escalated</targetReference>
            </connector>
            <label>Is Transferred</label>
        </rules>
        <rules>
            <name>TitleEscalatedCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Transfer_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Escalated_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Title_Status_Update</targetReference>
            </connector>
            <label>TitleEscalatedCase</label>
        </rules>
        <rules>
            <name>AdminGroupSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Transfer_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Escalated_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Title_Status_Update</targetReference>
            </connector>
            <label>AdminGroupSelected</label>
        </rules>
        <rules>
            <name>PIF_Pending_Title</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>csCaseDefaults.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Service_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PIF Release</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Transfer_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Escalated_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Title_Status_Update</targetReference>
            </connector>
            <label>PIF Pending Title</label>
        </rules>
        <rules>
            <name>Follow_Up_Title_Case</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Transfer_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Escalated_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Service_Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow Up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Escalated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Default</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sCaseRecord.Admin_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Title_Status_Update</targetReference>
            </connector>
            <label>Follow Up Title Case</label>
        </rules>
    </decisions>
    <interviewLabel>UC-Status Update V1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UC-Status Update V1</label>
    <loops>
        <name>Custom_Setting_Loop</name>
        <label>Custom Setting Loop</label>
        <locationX>71</locationX>
        <locationY>474</locationY>
        <assignNextValueToReference>csCaseDefaults</assignNextValueToReference>
        <collectionReference>scolUC_Case_Default</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UC_SUBFLOW</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tes_123</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>cslookup</name>
        <label>cslookup</label>
        <locationX>48</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Custom_Setting_Loop</targetReference>
        </connector>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Action__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Topic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Service_Request_Type__c</elementReference>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>scolUC_Case_Default</outputReference>
        <queriedFields>Action__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Topic__c</queriedFields>
        <queriedFields>Additional_Criteria_Field__c</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>New_Status__c</queriedFields>
        <queriedFields>New_Sub_Status__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Case_Record</name>
        <label>Lookup Case Record</label>
        <locationX>54</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseIsEscalatedOrTransferred</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>sCaseRecord</outputReference>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Service_Request_Type__c</queriedFields>
        <queriedFields>Action__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Denial_Reason__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Dispute_Reason__c</queriedFields>
        <queriedFields>Resulting_Decision__c</queriedFields>
        <queriedFields>Name_Change_Update_Type__c</queriedFields>
        <queriedFields>Sub_Status__c</queriedFields>
        <queriedFields>Escalated_To__c</queriedFields>
        <queriedFields>Transfer_To__c</queriedFields>
        <queriedFields>Number_of_LME_s__c</queriedFields>
        <queriedFields>Signature_Required_Checkbox__c</queriedFields>
        <queriedFields>Customer_Proceeding_With_Payoff__c</queriedFields>
        <queriedFields>PIF_Group__c</queriedFields>
        <queriedFields>Admin_Group__c</queriedFields>
        <queriedFields>CaseAssignmentRule__c</queriedFields>
        <queriedFields>Financial_Account__c</queriedFields>
        <queriedFields>Recall_Reason__c</queriedFields>
        <queriedFields>RunRules__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Case_Record</startElementReference>
    <subflows>
        <name>Title_Status_Update</name>
        <label>Title Status Update</label>
        <locationX>610</locationX>
        <locationY>187</locationY>
        <flowName>UC_Status_Update_Title_Subflow</flowName>
        <inputAssignments>
            <name>sCaseRecord</name>
            <value>
                <elementReference>sCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sCaseRecord</assignToReference>
            <name>sCaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Transfer_and_escalated</name>
        <label>Transfer and escalated</label>
        <locationX>440</locationX>
        <locationY>18</locationY>
        <flowName>UC_Transfer_and_Escalated</flowName>
        <inputAssignments>
            <name>sCaseRecord</name>
            <value>
                <elementReference>sCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sCaseRecord</assignToReference>
            <name>sCaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>UC_SUBFLOW</name>
        <label>UC SUBFLOW</label>
        <locationX>442</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>cslookup</targetReference>
        </connector>
        <flowName>UC_Case_Status_SubFlow</flowName>
        <inputAssignments>
            <name>csCaseDefault</name>
            <value>
                <elementReference>csCaseDefaults</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sCaseRecord</name>
            <value>
                <elementReference>sCaseRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>ChatterMainFlow</name>
        <text>Main Flow Chatter Post
Case Number: {!sCaseRecord.CaseNumber}
Run Rules:{!sCaseRecord.RunRules__c}
Case Assignment Rule: {!sCaseRecord.CaseAssignmentRule__c}
Owner: {!sCaseRecord.OwnerId}</text>
    </textTemplates>
    <variables>
        <name>csCaseDefaults</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UC_Case_Defaults__c</objectType>
    </variables>
    <variables>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the Queue to which the Case should be assigned.</description>
        <name>QueueId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>sCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>scolUC_Case_Default</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UC_Case_Defaults__c</objectType>
    </variables>
    <variables>
        <name>STSEval</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>sWriteParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Title__c</objectType>
    </variables>
    <variables>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>500S0000005LzQV</stringValue>
        </value>
    </variables>
    <variables>
        <name>vKMQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
