AUGREL/src/flows/UC_Transfer_and_Escalated-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>1533</locationX>
        <locationY>266</locationY>
        <assignmentItems>
            <assignToReference>sCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QueueId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>891</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>sCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>csCaseDefaults.New_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner_Specified</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_csCaseDefault_is_not_null</name>
        <label>Check csCaseDefault is not null</label>
        <locationX>569</locationX>
        <locationY>122</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>csCaseDefaults</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_New_Status</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Status</name>
        <label>Check New Status</label>
        <locationX>745</locationX>
        <locationY>121</locationY>
        <defaultConnector>
            <targetReference>New_Owner_Specified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_New_Status_V1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>csCaseDefaults.New_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Status</targetReference>
            </connector>
            <label>Check New Status V1</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Owner_Specified</name>
        <label>New Owner Specified</label>
        <locationX>1016</locationX>
        <locationY>125</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>csCaseDefaults.Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loopup_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Found</name>
        <label>Queue Found</label>
        <locationX>1344</locationX>
        <locationY>266</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueId.Id</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transferred_or_Escalated</name>
        <label>Transferred or Escalated</label>
        <locationX>141</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Escalated_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflow_Lookup_Escalation_Rule</targetReference>
            </connector>
            <label>Escalated</label>
        </rules>
        <rules>
            <name>Transferred1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sCaseRecord.Transfer_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sub_Transferred</targetReference>
            </connector>
            <label>Transferred</label>
        </rules>
    </decisions>
    <interviewLabel>UC Transfer and Escalated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UC Transfer and Escalated</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Loopup_Queue</name>
        <label>Loopup Queue</label>
        <locationX>1180</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queue_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>csCaseDefaults.Owner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>QueueId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Sub_Transferred</name>
        <label>Transferred</label>
        <locationX>344</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_csCaseDefault_is_not_null</targetReference>
        </connector>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transfer To</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Transfer_To__c</elementReference>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>csCaseDefaults</outputReference>
        <queriedFields>Action__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Topic__c</queriedFields>
        <queriedFields>New_Status__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>subflow_Lookup_Escalation_Rule</name>
        <label>Lookup Escalation Rule</label>
        <locationX>345</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_csCaseDefault_is_not_null</targetReference>
        </connector>
        <filters>
            <field>Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalated to</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sCaseRecord.Escalated_To__c</elementReference>
            </value>
        </filters>
        <object>UC_Case_Defaults__c</object>
        <outputReference>csCaseDefaults</outputReference>
        <queriedFields>Action__c</queriedFields>
        <queriedFields>New_Status__c</queriedFields>
        <queriedFields>Owner__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Additional_Criteria_Field__c</queriedFields>
        <queriedFields>New_Sub_Status__c</queriedFields>
        <queriedFields>Topic__c</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1534</locationX>
        <locationY>122</locationY>
        <inputReference>sCaseRecord</inputReference>
    </recordUpdates>
    <startElementReference>Transferred_or_Escalated</startElementReference>
    <variables>
        <name>csCaseDefaults</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>UC_Case_Defaults__c</objectType>
    </variables>
    <variables>
        <name>QueueId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>sCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
